@charset "utf-8";
#hamburger{
    display: none;
}
#hamburger span.on{
    background-color: #000;
}
#wrap{
    background-color: #fefaf0;
    overflow: hidden;
}

.header-area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    color: #fff;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 80px;
}

.header-area .header-logo{
    width: 180px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: 0.3s;
}

.header-area .header-logo:hover{
    opacity: 0.5;
}
.header-area .header-logo.active{
    filter: invert(1);
}

.header-area .main-menu,
.header-area .icon-box{
    display: flex;
    margin-right: -24px;
    height: 100%;
    align-items: center;
}
.header-area .main-menu li{
    display: flex;
    height: 100%;
    align-items: center;
}
.header-area.active{
    color: #050505;
}
.header-area .main-menu .menu,
.header-area .icon-box .icon{
    margin-right: 60px;
    transition: 0.3s;

}
.header-area .main-menu li:last-child .menu,
.header-area .icon-box .icon:last-child{
    margin-right: 0;
}


.header-area .main-menu .menu:hover,
.header-area .icon-box .icon:hover{
    opacity: 0.5;
}
.header-area.active{
    color: #050505;
}
.sub-menu{
    position: absolute;
    /* opacity: 0;
    z-index: -1; */
    display: none;
}

.sub-menu.active{
    /* opacity: 1;
    z-index: 9999; */
    display: block;
}
.sub-menu.shop{
    position: fixed;
    top: 60px;
    left: 178px;
    width: 190px;
    z-index: 99;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.sub-menu .sub-menu-body{
    padding: 11px;
    border-bottom: 1px solid #dbdbdb;
    color: #000;
}
.sub-menu.shop .sub-menu-body:hover,
.sub-menu.archive .sub-menu-body:hover,
.sub-menu.community .sub-menu-body:hover{
    background-color: #050505;
    color: #fff;
}
.sub-menu.shop .sub-menu-body:last-child,
.sub-menu.archive .sub-menu-body:last-child,
.sub-menu.community .sub-menu-body:last-child{
    border: none;
}
.sub-menu.archive{
    position: fixed;
    top: 60px;
    left: 270px;
    background-color: #fff;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 999;
}
.sub-menu.community{
    position: fixed;
    top: 60px;
    left: 380px;
    background-color: #fff;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 999;
}
.container-box{
    height: 757px;
    background: url(../img/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 0 80px;
}
.banner-inner{
    width: 84vw;
    height: 657px;
    position: absolute;
    bottom: 0;
    /* top: 50%;
    transform: translateY(-50%); */
}
.banner-txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    position: relative;
    padding-bottom: 211px;
    text-align: center;
}
.banner-txt .headline,
.banner-txt .subtext{
    width: 787px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.banner-txt .headline{
    color: #fff;
    font-weight: 500;
    font-size: 64px;
}
.banner-txt .subtext{
    color: #fff;
}

.container{
    width: 1600px;
    padding: 70px 0 160px;
    box-sizing: border-box;
    margin: 0 auto;
}
.sec-1 .container{
    display: flex;
    justify-content: space-between;
}
.sec-1 .container .persona-l{
    width: 37.375%;
    margin-right: 200px;
}
.sec-1 .container .persona-head-txt{
    font-size: 25px;
}
.sec-1 .container .persona-body-txt{
    margin-top: 200px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.sec-1 .container .persona-body-txt p{
    padding: 22px 0;
    font-size: 20px;
}
.sec-1 .container .persona-r-img{
    width: 40.937%;
    height: 756px;
}
.sec-2 .container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-2 .container .plant{
    width: 630px;
    height: 750px;
    margin-right: 412px;
    border-top-right-radius: 315px;
    border-top-left-radius: 315px;
    overflow: hidden;
}
.sec-2 .container .plant-txt{
    margin-right: 0;
    text-align: right;
}
.sec-2 .container .plant-head-txt{
    font-size: 25px;
}
.sec-2 .container .plant-body-txt{
    margin-top: 150px;
    margin-right: 0;
}
.sec-2 .container .plant-body-txt .body-txt{
    margin-bottom: 50px;
}
.sec-2 .container .click{
    border-bottom: 1px solid #050505;
    transition: 0.2s;
}
.sec-2 .container .click:hover{
    opacity: 0.5;
}

.sec-3 .container .sec-3-head-box{
    width: 100%;
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
.sec-3 .container .sec-3-head-box .arrow-r{
    background: url(../img/arrow-short.svg)no-repeat;
    width: 250px;
    height: 50px;
    background-size: contain;
}
.sec-3 .container .sec-3-head-box .arrow-r:hover{
    background: url(../img/arrow-long.svg)no-repeat;
    background-size: contain;
}
.sec-3 .container .shop{
    width: 1375px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}
.sec-3 .container .shop .swiper-wrapper{
    display: flex;
    width: 200%;
}
.sec-3 .container .shop .swiper-wrapper .swiper-slide{
    height: 540px;
    width: 410px;
    margin-right: 73px;

}
.sec-3 .shop .swiper-slide img{
    opacity: 1;
    transition: 0.3s;
}
.sec-3 .shop .swiper-slide:hover img{
    opacity: 0;
}
.sec-3 .shop .slide-1{
    background: url(../img/hover1-1.jpg)no-repeat center;
    background-size: cover;
}
.sec-3 .shop .slide-2{
    background: url(../img/hover2-2.jpg)no-repeat center;
    background-size: cover;
}
.sec-3 .shop .slide-3{
    background: url(../img/hover3-3.jpg)no-repeat center;
    background-size: cover;
}
.sec-3 .shop .slide-4{
    background: url(../img/hover4-4.jpg)no-repeat center;
    background-size: cover;
}
.sec-3 .shop .slide-5{
    background: url(../img/hover5-5.jpg)no-repeat center;
    background-size: cover;
}
.sec-3 .shop .slide-6{
    background: url(../img/hover6-6.jpg)no-repeat center;
    background-size: cover;
}
.swiper-pagination-bullet{
    width: 70px;
    height: 5px;
    background-color: #050505;
    border-radius: 0;

}

.sec-4 .container .sec-4-img{
    border-top: solid 1px #050505 ;
    border-bottom: solid 1px #050505 ;
    height: 450px;
    padding: 32px 0;
}
.sec-4 .container .sec-4-img span{
    width: 1600px;
    height: 1px;
}
.sec-4 .container .sec-4-img h1{
    text-align: center;
    color: #fff;
    align-items: center;
    margin-top: -230px;
    text-shadow: 0 4 4px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: 200;
}
.sec-4 .container .sec-4-txt{
    text-align: center;
    font-size: 21px;
    margin-top: 60px;
}
.sec-5 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.sec-5 .container .care{
    border-top: solid 1px #050505;
    border-bottom: solid 1px #050505;
    padding: 40px 0;
    width: 1600px;
    display: flex;
}
.sec-5 .container .care .body-txt,
.sec-5 .container .care .hand-txt{
    text-align: center;
    align-items: center;
    margin-top: -400px;
    color: #fff;
}
.sec-5 .container .care .body-txt h2,
.sec-5 .container .care .hand-txt h2{
    font-size: 45px;
}
.sec-5 .container .care .body-txt h5,
.sec-5 .container .care .hand-txt h5{
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

.sec-5 .container .body-care{
    padding: 40px 0;
    height: 795px;
    width: 925px;
    cursor: pointer;
}
.sec-5 .container .hand-care{
    padding: 40px 0;
    height: 795px;
    width: 675px;
    cursor: pointer;
}
.sec-5 .container .m-i{
    margin-top: 65px;
    font-size: 22px;
    text-align: center;
    color: #dbdbdb;
    transition: 0.3s;
}
.sec-5 .container .m-i:hover{
    color: #fff;
}
.footer{
    font-family: 'Pretendard';
    background-color: #F2EAD5;
}
.footer .container .footer-t{
    display: flex;
    justify-content: flex-end;
}
.footer .container .footer-t .box{
    margin-left: 50px;
}
.footer .container .footer-t img{
    width: 60px;
    height: 60px;
    margin-right: 1230px;
}
.footer .container .footer-b{
    margin-top: 50px;
}
.footer .container .footer-b .footer-txt{
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 500;
}
.footer .container .footer-b .copyright{
    font-family: 'Pretendard';
    font-weight: 300;
    margin-top: 20px;
}
.footer .container .top-btn{
    position: fixed;
    bottom: 45px;
    right: 45px;
    width: 100px;
    height: 100px;
    z-index: 999;
    cursor: pointer;
}
.top-btn img{
    animation: topbtn 30s linear infinite;
}
@keyframes topbtn{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(365deg);
    }
}
/* 반응형 미디어 쿼리 */
@media (max-width : 1600px){
    .container{
        width: 83vw;
        padding: 90px 0 160px;
    }
   
    .sec-1 .container .persona-l{
       width: 45%;
    }
    .sec-1 .container .persona-r-img{
       width:700px;
    }
    .sec-2 .container .plant{
        width: 600px;
        margin: auto;
        margin-left: 50px;
        border-top-right-radius: 300px;
        border-top-left-radius: 300px;
        overflow: hidden;
        margin-right: 80px;
    }
    .sec-2 .container .plant-txt{
        text-align: right;

    }
    .sec-3 .container .sec-3-head-box {
        font-size: 28px;
        margin-left: 50px;
    }
    
    .sec-3 .container .shop {
        width:100%;
        display: flex;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .sec-3 .container .sec-3-head-box .arrow-r {
        margin-right: 200px;
       
    }
    
    .sec-4 .container .sec-4-img {
        margin-left: -71px;
       
        width: 1400px;
        padding: 32px 0;
    }
    .sec-5 .container .body-care{
        width: 800px;
 
    }
    .sec-5 .container .hand-care{
        width: 600px;
      
    }
  
    .footer .container .footer-t .inner-txt2{
        margin-right: 150px;
    }
  
    .footer .container .footer-t img{

        margin-right: 700px;
    }
    .footer .container .footer-b{
        margin-left: 50px;
    }


}
@media (max-width : 1500px){
    .sec-2 .container .plant{
        height: 600px;
        margin-right: 20px;
        margin-left: 0;
    }
    
    .sec-2 .container .plant-txt{
        margin-right: 0px;
        text-align: right;
        width: 85%;
    }
    .sec-3 .container .sec-3-head-box {
        margin-left: 0px;
    }
    .sec-2 .container .plant-head-txt{
        
        font-size: 22px;
    }
    .sec-2 .container .plant-body-txt {
        margin-top: 50px;
    }
    .sec-2 .container .plant-body-txt .body-txt{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .sec-3 .container .sec-3-head-box .arrow-r {
        margin-right: 10px;
       
    }
    .sec-5 .container .care{
        width: 1250px;
    }
    .sec-4 .container .sec-4-img {
        margin-left: -47px;
        width: 1250px;
    }
    .sec-5 .container .body-care{
        margin-left: 10px;
    }
    .footer .container .footer-t .inner-txt1{
        margin-right: 20px;
    }
    .footer .container .footer-t .inner-txt2{
        margin-right: 10px;
    }
    .footer .container .footer-t img{
        margin-right: 850px;
    }
    .footer .container .footer-b{
        margin-left: 0px;
    }
    }
    @media (max-width : 1200px){
        .header-area .main-menu{
           margin-left: -40px;
        }
       .header-area .main-menu li{
        margin-left: -10px;
       }
       .header-area .icon li{
        margin-left: -10px;
       }
       .sec-1 .container .persona-l{
        margin: auto;
        margin-right: 50px;
        }
        .sec-1 .container .persona-body-txt {
            margin-top: 120px;
        }
        .sec-1 .container .persona-r-img{
            height: 600px;
            width: 500px;
        }
        .sec-3 .container .sec-3-head-box .arrow-r {
            margin-right: -10px;
        }
        .sec-4 .container .sec-4-img {
            width: 1080px;
        }
        .sec-4 .container .sec-4-img h1{
            font-size: 28px;
        }
        .sec-5 .container .care{
            width: 1080px;
        }
        .sec-5 .container .body-care,
        .sec-5 .container .hand-care{
           height: 750px;
        }
        .sec-5 .container .care .body-txt h2, 
        .sec-5 .container .care .hand-txt h2{
            font-size: 30px;
        }
        .footer .container .footer-t img{
            margin-right: 660px;
        }
    }
    @media (max-width : 1000px){
        .banner-txt .headline{
            font-size: 40px;
        }
        .banner-inner img{
            display: none;
        }
        .sec-1 .container .persona-body-txt-inner p{
            font-size: 20px;
        }
        .header-area .main-menu li{
         margin-left: -25px;
        }
        .header-area .icon-box{
           margin-right: -60px;
        }
        .header-area .icon-box .icon{
         margin-left: -20px;
        }
        .sec-1 .container .persona-head-txt{
            font-size: 22px;
        }
    
        .sec-1 .container .persona-r-img{
            height: 560px;
            width: 400px;
        }
        .sec-2 .container .plant{
            height: 550px;
        }
        .sec-2 .container .plant-txt{
            font-size: 20px;
            margin-left: 30px;
        }
        .sec-2 .container .click{
            font-size: 18px;
        }
        .sec-3 .container .sec-3-head{
            font-size: 35px;
        }
        .sec-3 .container .sec-3-head-box .arrow-r {
            margin-right: -20px;
        }
        .sec-4 .container .sec-4-img {
            width: 920px;
        }
        .sec-4 .container .sec-4-img h1{
            font-size: 22px;
        }
        .sec-4-txt span{
            font-size: 18px;
        }
        .sec-5 .container .care{
            width: 920px;
        }
        .footer .container .footer-t img{
            margin-right: 500px;
        }

    }
    @media (max-width : 900px){
        .sub-menu-box,
        .header-area .icon-box,
        .header-area .main-menu{
            display: none;
        }
        .banner-txt{
            text-align: center;
            align-items: center;
        }
        .banner-txt .headline{
            font-size: 40px;
        }
        .banner-inner img{
            display: none;
        }
        .sec-1 .container .persona-body-txt p{
            display: none;
        }
        #hamburger{
            display: block;
            width: 20px;
            height: 10px;
            z-index: 999999;
            position: relative;
        }
        #hamburger span{
            position: absolute;
            height: 2px;
            background-color: #fff;
            width: 100%;
        }
        #hamburger span:first-child{
            top: 0;
            left: 0;
        }
        #hamburger span:last-child{
            top: 100%;
            left: 0;
        }
        #hamburger span.active:first-child{
            transform: rotate(45deg);
            top: 50%;
        }
        #hamburger span.active:last-child{
            transform: rotate(-45deg);
            top: 50%;
        }
        .main-menu.active{
            opacity: 1;
            z-index: 99999;
        }
        .main-menu{
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            color: #050505;
            background-color: rgba(255, 255, 255, 0.5) ;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

            opacity: 0;
            z-index: -1;
        }
        .sec-2 .container .plant-body-txt .body-txt {
            display: none;
        }
        .sec-3 .container .shop .swiper-wrapper .swiper-slide{
            margin-right: 0;
        }
       
        .sec-4 .container .sec-4-img {
            width: 820px;
        }
        .sec-4 .container .sec-4-img h1{
            font-size: 22px;
        }
        .sec-4-txt span{
            font-size: 18px;
        }
        .sec-5 .container .care{
            width: 820px;
        }
        .footer .container .footer-t img{
            margin-right: 400px;
        }
    }
    @media (max-width : 800px){
        .sec-1 .container{
            display: block;
        }
        .sec-1 .container .persona-l{
        
         display: inline-block;
        }
        .sec-1 .container .persona-body-txt{
            margin-top: 0;
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        .sec-1 .container .persona-r-img{
            width: 100%;
        }
        .sec-3 .container .shop .swiper-wrapper .swiper-slide{
            margin-right: 0;
        }
        .sec-4 .container .sec-4-img {
            width: 720px;
            margin-left: -30px;
        }
        .sec-5 .container .care{
            display: block;
        }
        .sec-5 .container .body-care,
        .sec-5 .container .hand-care{
           height: 750px;
           width: 720px;
        }
        .footer .container .footer-t img{
            margin-right: 300px;
        }
    }
    @media (max-width : 700px){
        .sec-2 .container{
            display: block;
        }
        .sec-2 .container .plant{
            width: 500px;
            margin: 0 auto;
        }
        .sec-2 .container .plant-txt{
            text-align: center;
            margin-top: 30px;
        }
        .sec-2 .container .plant-body-txt{
            margin-top: 20px;
        }
        .sec-3 .container .sec-3-head-box .arrow-r {
          display: none;
        }
        .sec-3 .container .shop .swiper-wrapper .swiper-slide{
            margin-right: 0;
        }
        .sec-4 .container .sec-4-img {
            width: 600px;
        }
        .sec-5 .container .body-care{
            margin-left: 0;
        }
        .sec-5 .container .body-care,
        .sec-5 .container .hand-care{
           height: 700px;
           width: 600px;
        }
        .footer .container .footer-t img{
            margin-right: 200px;
        }
    }
    @media (max-width : 500px){
        #hamburger span{
            margin-left: -40px
        }
        .banner .banner-txt .subtext {
            display: none;
        }
        .banner .banner-txt .headline{
            margin-bottom: 50px;
            font-size: 32px;
        }
        .sec-1 .container .persona-head-txt{
            font-size: 20px;
        }
        .sec-2 .container .plant{
            width: 340px;
            margin-left: -7px;
        }
        .sec-3 .container .sec-3-head-box .arrow-r {
            display: none;
        }
       
        .sec-4 .container .sec-4-img {
            width: 380px;
            margin-left: -28px;
        }
        .sec-4 .container .sec-4-img h1{
            font-size: 18px;
        }
        .sec-3 .container .shop .swiper-wrapper .swiper-slide{
            margin-right: 0;
        }
        .sec-5 .container .body-care,
        .sec-5 .container .hand-care{
           height: 550px;
           width: 380px;
        }
        .swiper-pagination{
            display: none;
        }
        .sec-5 .container .care .body-txt h2, 
        .sec-5 .container .care .hand-txt h2{
            margin-top: 80px;
        }
        .sec-5 .container .care .body-txt h5, 
        .sec-5 .container .care .hand-txt h5{
            display: none;
        }
        .footer .container .footer-t .inner-txt1,
        .footer .container .footer-t .inner-txt2{
            font-size: 13px;
        }
        .footer .container .footer-b .footer-txt{
            font-size: 12px;
        }
        .footer .container .footer-t img{
            margin-right: 10px;
        }
    }
 

